<a href="https://colab.research.google.com/github/hiiamjay/AI/blob/master/CW/CW_J075_11_7_2020_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list 
a = [1,2,3,4,5,"human"]
b = [[1,2,3,4,5],[1,2,3,4,"human"],[4,5,"human",5,6]]

# tuple
d = (1,3,4,"human")

# Set
c = {1,2,3,4,5,1,2,3,4}

In [ ]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

[1, 2, 3, 4, 5, 'human'] <class 'list'>
[[1, 2, 3, 4, 5], [1, 2, 3, 4, 'human'], [4, 5, 'human', 5, 6]] <class 'list'>
{1, 2, 3, 4, 5} <class 'set'>
(1, 3, 4, 'human') <class 'tuple'>

In [ ]:
aa = set(a) #converting list to set
print(aa,type(aa))

{1, 2, 3, 4, 5, 'human'} <class 'set'>

In [ ]:
bb = set(b) # converting list of list to set is not possible 
print(bb,type(bb))

TypeError: ignored

In [ ]:
#Converting string to Set
name = "Jay Prajapati"
name = set(name)
print(name, type(name))

{'i', 'a', 'J', 'p', 'P', 'r', 't', 'y', 'j', ' '} <class 'set'>

In [ ]:
mix = {75, "Jay", 141.1141, True, None}
print(mix, type(mix))

{True, 75, 141.1141, 'Jay', None} <class 'set'>

In [ ]:
len(mix)

5

In [ ]:
name.append(aa) #append dosent work

AttributeError: ignored

In [ ]:
print("Jay" in name)
print("Jay" in mix)

False
True

In [ ]:
mix | aa | name

{' ',
 141.1141,
 2,
 3,
 4,
 5,
 75,
 'J',
 'Jay',
 None,
 'P',
 True,
 'a',
 'human',
 'i',
 'j',
 'p',
 'r',
 't',
 'y'}

In [ ]:
mix.pop()

True

In [ ]:
print(mix, type(mix))

{75, 141.1141, 'Jay', None} <class 'set'>

In [1]:
a = 1
b = 2
c = 3

In [2]:
def printer():
  print(a+b)

def sum(a,b):
  print(a+b)

In [3]:
printer()

3

In [4]:
sum(b,c)

5

In [5]:
if a>9:
  print(a)
else:
  print(a+9)

10

In [6]:
#Converting a number from base n to base 10 int (num in base n, n)

str(int("1010",2))

'10'

In [7]:
def sumx():
  a = 'fhxhfchgv vfxxbhch\n wifcfchhhvhhwd\
  vrxhcgchbccn\
  nhmvh nbgxrxggnc'
  print(a)
sumx()

fhxhfchgv vfxxbhch
 wifcfchhhvhhwd  vrxhcgchbccn  nhmvh nbgxrxggnc

In [8]:
x = [1,2,3,4]
y = [3,4,5,6]
y.pop(-1)
y

[3, 4, 5]

In [10]:
# Name mangling, Variable name is different if wanted to be called out of the class

class student:
  #__name = self.__name
  def __init__(self, name):
    self.name = name
  def displayName(self):
    print(self.name)

##Class vs Object
s1 = student('Jay Prajapati')
s1.displayName()

#Raise an error
print(s1.name)

##If you define a global variable in a function with underscore, 
##then you have to access the variable by <object>._<class_name><variable_name_starting_with_underscore>

Jay Prajapati
Jay Prajapati

In [11]:
class stud(student):
  def __init__(self, a, name):
    self.a = a
    student.__init__(student, name) 

s2 = stud(75, 'Jay Prajapati')
print(s2.name)
print(s2.a)

Jay Prajapati
75